body {
	font-family: sans-serif;
	background-color: #C5D6EB;
	display: flex;
	flex-direction: column;
}

/********** Überschrift ********/

#headline {
	padding-bottom: 10px;
	width: 1200px;
	/*margin-left: 20.5%;*/
	display: flex;
	margin:0 auto 15px auto;
}

#tmf-logo {
	margin: auto 0 auto 0;
	flex:0.2;
}

.dummy-logo {
	margin: auto 0 auto 0;
	visibility: hidden;
}

#tour {
	margin:auto;
	flex: 0.2;
}

#tour a {
	width: 13px;
	text-shadow: rgb;
	text-shadow: 1px 1px gray;
	color: #C5D6EB;
	font-size: x-large;
}

.caption {
	text-align: center;
	/*margin: 0 0 15px 0;
	background-color: green;*/
	flex: 1;
}

.pew {
	text-shadow: 2px 2px #777777;
	font-size: 50px;
	margin-bottom: 5px;
}

/*********** Hauptcontent CSS *********/



#main {
	width: 1200px;
	margin: 0 auto;
	/*margin-left: 20.5%;*/
	padding-bottom: 210px;
	display:flex;
}

#wikicontainer {
	background-color: white;
	padding: 15px 15px 15px 15px;
	box-shadow: 4px 4px 4px #333;
	border: 2px solid grey;
	margin-left: 220px;
	flex: 1;
}

#wikicontainer p {
	line-height: 1.5em;
	text-indent: 20px;
}

.dummy-nav {
	width: 220px;
	visibility: hidden;
}

/************** Navigation CSS **************/

#navigation-list {
	position: fixed;
	padding: 0px 20px 5px 0px; /* damit der scroll balken weiter rechts ist */
	width: 200px;
	max-height: 60.5%;
	overflow: auto;
	margin-top: 0;
}

.navigation-sublist {
	list-style: none;
	margin: 3px 0 0 0;
	padding: 0px 0px 0px 0px;
	width: 180px;/* damit der scroll balken verschwindet */
}

.navigation-list-item {
 	padding: 3px 0px 3px 25px;
	margin: 0;
	font-size: 13px;
	display: none;
}

.pic {
	background: url(pics/pen.png) no-repeat left;
 }

.navigation-link {
	color: black;
	text-decoration: none;
}

.floatingbutton {
	display:block; /*damit width/height funktionieren;*/
	width: 158px;
	height: 28px;
	list-style-type: circle;
	text-decoration: none;

	/* aussehen; */
	background-color: #FFF;
	border-radius: 15px;
	line-height: 26px;
	box-shadow: 2px 2px 2px #333;
	border: 2px solid grey;
	padding: 0 7px 0 7px;

	/*damit text abgeschnitten wird; */
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.floatingbutton:hover {
	background-color: yellow;
}

.hidden-source{
	display: none;
}

/********** actionbar CSS ************/

#actionbar {
	width: 100%;
	position: fixed;
	bottom: 0px;
	left: 0px;
	background: #C5D6EB;
	height: 210px;
	display: flex;
	flex-direction: column;
	/*border: 1px solid black;*/
	/* text-align: center; */
}

#textfeld {
	margin: auto;
}

#textfeld textarea{
	height: 145px;
	width: 760px;
	padding: 5px 5px 5px 5px;
	margin: 5px 0 0 0;
}


.actionbar-list {
	list-style: none;
	margin: 10px auto 5px auto;
	display: inline-block;
}


.actionbar-list-item {
	float: left;
	width: 74px;
}


.actionbar-list-item a{
	margin-left: 5px;
	width: 28px;
	float: left;
	color:black;
}

.actionbar-list-item a:hover{
	background-color: yellow;
}

.icon {
	max-width: 100%;
	max-height: 100%;
}

/************* INDEX **********/

#start {
	width: 900px;
	margin: 0 auto;
	text-align: center;
}

#dragdrop {
	margin: 15px auto;
	border: 3px solid grey;
	border-radius: 20px;
	padding: 200px;
	background-color: white;
}

#dragdrop p{
	color: grey;
	font-size: 0.9vw;
}

.index-buttons {
	padding: 0px;
	margin: 0 auto;
}

#neu {
	list-style: none;
}

#neu a {
	color:black;
}

/************** Wiki content CSS ****************/

#firstHeading {
	text-align: center;
}

#jump-to-nav {
	display:none;
}

.mw-editsection {
	display:none;
}

.toc {
	display:none;
}

.printfooter{
	display:none;
}

#sitesub{
	display:none;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */